<?xml version="1.0" encoding="UTF-8" ?>
<BBconfig>
<ServerConnect ip="tt4.de.kbb1.com" tcp="10334" udp="10334" srvPassword="aGF2ZXJpbQ==" srvUser="alexm" srvUserPassword="YXJ1dHM2NjY=" nickName="Valik" hapName="" srcName="Hebrew" adminNickName="Jopa" trgName="Testing" />
<Templates hapPrefix="HAP" srcPrefix="src" dstPrefix="dst" videoPrefix="video" />
<AudioSettings denoiseLevel="1" echoCancel="0" framesPerSec="100" micGainLevel="973" srcVolumeLevel="0" trgVolumeLevel="466" micMute="1" trgMute="1" soundSystemWin="0" inputSoundDevId="Internal Microphone (Conexant 20672 SmartAudio HD)" outputSoundDevId="Speakers (Conexant 20672 SmartAudio HD)" >
<AGC enable="1" gainLevel="8000" maxIncrement="12" maxDecrement="-40" maxGain="10" />
<VoiceActivation voiceActivationEnable="0" voiceActivationLevel="0" />
</AudioSettings>
<VideoSettings videoQuality="100" />
</BBconfig>
